<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adopte_cats_details"></activity>
        <activity android:name=".LostCats_inside" />
        <activity android:name=".adopte_cat_add1" />
        <activity android:name=".add_lostCats" />
        <activity android:name=".lostCats_Details" />
        <activity android:name=".HelpCats_Activity" />
        <activity android:name=".LostCats_Activity" />
        <activity android:name=".adopteCats_Activity" />
        <activity android:name=".selection_A" />
        <activity android:name=".sign_in_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>